body {
    background-image: linear-gradient(178.7deg, rgba(126, 184, 253, 1) 5.6%, rgba(2, 71, 157, 1) 95.3%);
    height: 600px;
}


.clock-dial {
    width: 500px;
    height: 500px;
    border: 20px double rgb(28, 9, 9);
    border-radius: 50%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 50px black;
    animation-name: upDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes upDown {
    0% {
        top: 10px;
    }

    25% {
        top: 20px;
    }
    75%{
        top: 20px;
    }
    100%{
        top:10px;
    }
}

.center {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
}

.hour {
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    color: white;
}

.brand {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: white;
    top: 80px;
    left: 210px;
    opacity: 40%;
}


.h1 {
    top: 40px;
    right: 130px;
}

.h2 {
    top: 125px;
    right: 45px;
}

.h3 {
    top: 235px;
    right: 10px;
}

.h4 {
    top: 345px;
    right: 45px;
}

.h5 {
    top: 430px;
    right: 130px;
}

.h6 {
    bottom: 10px;
    left: 240px;
}

.h7 {
    top: 430px;
    left: 130px;
}

.h8 {
    top: 345px;
    left: 45px;
}

.h9 {
    top: 235px;
    left: 10px;
}

.h10 {
    top: 125px;
    left: 45px;
}

.h11 {
    top: 40px;
    left: 130px;
}

.h12 {
    top: 10px;
    left: 235px;
}


.minute-hand-wrapper {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.minute-hand {
    position: relative;
}

.minute-hand .hand {
    width: 4px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 198px;
}

.minute-hand .arrow {
    top: -10px;
    font-size: 25px;
    font-weight: bold;
    transform: rotate(180deg);
    position: absolute;
    left: 191.5px;
    color: white;
}

.hour-hand-wrapper {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

.hour-hand {
    position: relative;
}

.hour-hand .hand {
    width: 4px;
    height: 150px;
    background-color: red;
    position: absolute;
    left: 148px;
}

.hour-hand .arrow {
    top: -10px;
    font-size: 25px;
    font-weight: bold;
    transform: rotate(180deg);
    position: absolute;
    left: 140px;
    color: red;
}

.second-hand-wrapper {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 75px;
    left: 75px;
    border-radius: 50%;
}

.second-hand {
    position: relative;
}

.second-hand .hand {
    width: 2px;
    height: 175px;
    background-color: white;
    position: absolute;
    left: 174px;
}